Task №1

In [ ]:
# разбор переменных разных типов

num1 = 10  # int (используется для хранения целых чисел без точных десятичных дробей.)
num2 = 10.5  # float (используется для хранения чисел с точными десятичными дробями.)
num3 = "Hello"  # str (используется для хранения текстовых данных.)
num4 = [3, 4, 5]  # list (используется для хранения списка других переменных.)
num5 = (1, 2, 3)  # tuple (используется для хранения списка других переменных, не изменяется.)
num6 = {'key1': 3, 'key2': 4, 'key3': 5}  # dict (используется для хранения списка ключей и значений.)
num7 = range(10)  # range (используется для создания списка чисел в заданном диапазоне.)
num8 = None  # None (используется для обозначения отсутствия значения.)

Task №2

In [ ]:
# tuple + tuple
num1 = (1, 2, 3)
num2 = (4, 5, 6)

num3 = num1 + num2
print(num3)

In [1]:
# int + int
num1 = 10
num2 = 10
num3 = num1 + num2
print(num3)

20

In [2]:
# float + float
num1 = 14.1
num2 = 14.1
num3 = num1 + num2
print(num3)

28.2

In [4]:
# float + int
num1 = 14.1 #    float
num2 = 10 #     int
num3 = num1 + num2
print(num3)

24.1

In [15]:
l = [1, 2, 3, 4, 5] # list
i =  10 # int

s = sum(l) + i # возвращение суммы элементов списка и сложение с целочисленной переменной

print(s)

25

In [17]:
# string + int
num1 = "1"
num2 = 1
num3 = int(num1) + num2
print(num3)

2

In [31]:
# int + boolean
num1 = True
num2 = 10
num3 = num1 + 10
print(num3)

11

In [41]:
# Boolean + Boolean
num1 = False
num2 = True
num3 = num1 + num2
print(num3)

1

Task №3

In [45]:
# list to tuple
num1 = [1, 2, 3]
num2 = tuple(num1)
print(num2)

(1, 2, 3)

In [46]:
# int to string
num1 = 123
num2 = str(num1)
print(num2)

123

In [47]:
# float to int
num1 = 3.14
num2 = int(num1) # округление
print(num2)

3

In [48]:
# list to strings
num1 = "hello world!"
num2 = num1.split()
print(num2)

['hello', 'world!']

Пепреопределение переменной одного типа в другой невозможно сделать только в том случае, если переменная уже инициализирована, её тип уже опрееделен ии он может измениться. Например если пользователь инициализирует переменную A как int() и затем у него будет код
a = str(), то при компиляции код выдаст ошибку.